@model  EventManagement.Domain.Event 
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Event</h2>

@using (Html.BeginForm("AddEvent", "Events", FormMethod.Post)) {
<table>
    <tr>
        <td>@Html.TextBoxFor(e => e.Name, new { placeholder = "Enter Event Name" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(e => e.EventDate, new { type = "date" })
        
        
    </tr>
    <tr>
        <td><input type="submit" value="Save" /></td>
    </tr>
</table>

}