@model  EventManagement.Domain.Event
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("AddEvent", "Events", FormMethod.Post)) {
        <div class="event-form">
            <div class="title">Add Event</div>
            <div class="text-box-wrapper">
                @Html.TextBoxFor(e => e.Name, new { placeholder = "Enter Event Name" })
                @Html.TextBoxFor(e => e.EventDate, new { type = "date" })
            </div>
            <div class="btn-wrapper">
                <input type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", new { controller = "Events" }, new { @class = "btn" })
            </div>
        </div>
    }
</div>
