@model EventManagement.Domain.Event
@{
    ViewBag.Title = "UpdateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Update", "Events", FormMethod.Post)) {
        @Html.HiddenFor(e => e.EventId)
        <div class="event-form">
            <div class="title">Update Event</div>
            <div class="text-box-wrapper">
                @Html.TextBoxFor(e => e.Name, new { placeholder = "Enter Event Name" })
                @Html.EditorFor(e => e.EventDate, "{0:MM/dd/yyyy}", new { type = "date" })
            </div>
            <div class="btn-wrapper">
                <input type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", new { controller = "Events" }, new { @class = "btn" })
            </div>
        </div>
    }
</div>