@model EventManagement.Domain.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post)) {
        <div class="event-form">
            <div class="title">Login</div>
            <div class="text-box-wrapper">
                @Html.ValidationMessageFor(u => u.UserId)
                @Html.TextBoxFor(u => u.Username, new { placeholder = "Enter Username" })
                @Html.ValidationMessageFor(u => u.Password)
                @Html.PasswordFor(u => u.Password, new { placeholder = "Enter Password" })
            </div>
            <div class="btn-wrapper">
                <input type="submit" name="Log in" />
            </div>
        </div>
    }
</div>
